html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre, a, code, img, strong, ul, li, form, label, table, caption, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ol, ul {
    list-style: none
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: block;
}

body {
    border-top: 10px solid #f5f5f5;
}

body, code {
    font-family: "Droid Serif", Georgia, Times, serif;
}

a {
    color:#d14;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a img {
    border: none
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    padding: 0;
}

.container {
    width: 900px;
    margin: 0 auto;
    padding: 0 0 20px 0;
}


.page-title {
    border-bottom: 2px solid #d5d5d5;
    clear:both;
    overflow:auto;
    padding: 20px 0 10px 0;
}

.page-title h1 {
    font-size: 50px;
    text-shadow: 2px 2px #ddd;
    padding: 0;
    border-bottom: none;
    line-height: 70px;
    font-weight: bold;
}

.page-title h1 a {
    color: black;
    text-decoration: none;
}

.page-title h2 {
    font-size: 14px;
}

.primary {
    float: left;
    width: 900px;
}

.primary .post-thumb p {
    color: #333333;
    font-size: 15px;
    line-height: 25px;
    padding-bottom: 18px;
}

.primary .post-thumb a {
    padding-left: 2px;
    padding-right: 2px;
}

.primary .post-thumb h1 {
    font-size: 30px;
    padding-bottom: 10px;
    margin-top: 24px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    color: #d14;
}

.primary .post-thumb h1 a {
    text-decoration: none;
}

.primary .post-thumb h2 {
    font-size: 19px;
    color: #d14;
    padding-top: 10px;
    padding-bottom: 10px;
}

.primary .post-thumb h2 a {
    text-decoration: none;
}

.primary .post-thumb h3 {
    font-size: 17px;
    color: #0c74a6;
    line-height: 25px;
    padding-bottom: 6px;
}

.primary .post-thumb h4 {
    font-size: 13px;
    color: #333333;
    padding-bottom: 12px;
    line-height: 18px;
}

.primary .post-thumb ul {
    margin-top: 10px;
    list-style: square inside;
}

.primary .post-thumb ul li {
    line-height: 28px;
    font-size: 16px;
}

.primary .post-thumb code {
    font-size: 15px;
    padding: 3px 4px;
    color: #d14;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 3px;
    margin-left: 4px;
    margin-right: 4px;
}

.primary .post-thumb table {
    width: 100%;
    overflow: auto;
    display: block;
    border-collapse: collapse;
    border-spacing: 0;
    border-color: gray;
    margin-bottom: 20px;
}

.primary .post-thumb table th,
.primary .post-thumb table td {
    border: 1px solid #ddd;
    padding: 6px 13px;
    vertical-align: middle;
}

.primary .post-thumb table td {
    font-size: 15px;
    line-height: 26px;
}

.primary .post-thumb table th {
    font-weight: bold;
}

.primary .post-thumb blockquote {
    border-left: 5px solid #EEEEEE;
    margin: 0 0 5px;
    padding: 5px 0 0 15px;
}

.primary .title {
    font-size: 19px;
    padding-bottom: 20px;
}

.footer {
    width: 900px;
    margin: 0 auto;
    border-top: 2px solid #d5d5d5;
    font-size: 13px;
    color: #666;
    padding-top: 20px;
    padding-bottom: 120px;
}

.footer .aboutus {
    float: left;
}

.footer .findme {
    float: right;
}


.primary .post-thumb .highlight {
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: auto;
    width: 100%;
}

.primary .post-thumb .highlight pre {
    font-family: "Source Code Pro", Consolas, Courier, monospace;
    white-space: pre;
    font-weight: 400;
    font-size: 13px;
    word-spacing: 0;
    line-height: 22px;
    padding: 12px;
}

.primary .post-thumb .highlight table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 0;
}

.primary .post-thumb .highlight table td {
    border: none;
    padding: 0 0;
}

.primary .post-thumb .highlight .linenos {
    border-right: 1px solid #ddd;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #fbfbfc;
    text-align: right;
    color: #bebec5;
}

.primary .post-thumb .highlight {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    color: #333333;
}

.primary .post-thumb .highlight .cm {
    color: #999988;
    font-style: italic;
}

.primary .post-thumb .highlight .cp {
    color: #999999;
}

.primary .post-thumb .highlight .c1 {
    color: #999988;
    font-style: italic;
}

.primary .post-thumb .highlight .cs {
    color: #999999;
    font-style: italic;
}

.primary .post-thumb .highlight .c, .primary .post-thumb .highlight .cd {
    color: #999988;
    font-style: italic;
}

.primary .post-thumb .highlight .err {
    color: #a61717;
    background-color: #e3d2d2;
}

.primary .post-thumb .highlight .gd {
    color: #000000;
    background-color: #ffdddd;
}

.primary .post-thumb .highlight .ge {
    color: #000000;
    font-style: italic;
}

.primary .post-thumb .highlight .gr {
    color: #aa0000;
}

.primary .post-thumb .highlight .gh {
    color: #999999;
}

.primary .post-thumb .highlight .gi {
    color: #000000;
    background-color: #ddffdd;
}

.primary .post-thumb .highlight .go {
    color: #888888;
}

.primary .post-thumb .highlight .gp {
    color: #555555;
}

.primary .post-thumb .highlight .gs {
}

.primary .post-thumb .highlight .gu {
    color: #aaaaaa;
}

.primary .post-thumb .highlight .gt {
    color: #aa0000;
}

.primary .post-thumb .highlight .kc {
    color: #000000;
}

.primary .post-thumb .highlight .kd {
    color: #000000;
}

.primary .post-thumb .highlight .kn {
    color: #000000;
}

.primary .post-thumb .highlight .kp {
    color: #000000;
}

.primary .post-thumb .highlight .kr {
    color: #000000;
}

.primary .post-thumb .highlight .kt {
    color: #445588;
}

.primary .post-thumb .highlight .k, .primary .post-thumb .highlight .kv {
    color: #000000;
}

.primary .post-thumb .highlight .mf {
    color: #009999;
}

.primary .post-thumb .highlight .mh {
    color: #009999;
}

.primary .post-thumb .highlight .il {
    color: #009999;
}

.primary .post-thumb .highlight .mi {
    color: #009999;
}

.primary .post-thumb .highlight .mo {
    color: #009999;
}

.primary .post-thumb .highlight .m, .primary .post-thumb .highlight .mb, .primary .post-thumb .highlight .mx {
    color: #009999;
}

.primary .post-thumb .highlight .sb {
    color: #d14;
}

.primary .post-thumb .highlight .sc {
    color: #d14;
}

.primary .post-thumb .highlight .sd {
    color: #d14;
}

.primary .post-thumb .highlight .s2 {
    color: #d14;
}

.primary .post-thumb .highlight .se {
    color: #d14;
}

.primary .post-thumb .highlight .sh {
    color: #d14;
}

.primary .post-thumb .highlight .si {
    color: #d14;
}

.primary .post-thumb .highlight .sx {
    color: #d14;
}

.primary .post-thumb .highlight .sr {
    color: #009926;
}

.primary .post-thumb .highlight .s1 {
    color: #d14;
}

.primary .post-thumb .highlight .ss {
    color: #990073;
}

.primary .post-thumb .highlight .s {
    color: #d14;
}

.primary .post-thumb .highlight .na {
    color: #008080;
}

.primary .post-thumb .highlight .bp {
    color: #999999;
}

.primary .post-thumb .highlight .nb {
    color: #0086B3;
}

.primary .post-thumb .highlight .nc {
    color: #445588;
}

.primary .post-thumb .highlight .no {
    color: #008080;
}

.primary .post-thumb .highlight .nd {
    color: #3c5d5d;
}

.primary .post-thumb .highlight .ni {
    color: #800080;
}

.primary .post-thumb .highlight .ne {
    color: #990000;
}

.primary .post-thumb .highlight .nf {
    color: #990000;
}

.primary .post-thumb .highlight .nl {
    color: #990000;
}

.primary .post-thumb .highlight .nn {
    color: #555555;
}

.primary .post-thumb .highlight .nt {
    color: #000080;
}

.primary .post-thumb .highlight .n {
    color: #333333;
}

.primary .post-thumb .highlight .vc {
    color: #008080;
}

.primary .post-thumb .highlight .vg {
    color: #008080;
}

.primary .post-thumb .highlight .vi {
    color: #008080;
}

.primary .post-thumb .highlight .nv {
    color: #008080;
}

.primary .post-thumb .highlight .ow {
    color: #000000;
}

.primary .post-thumb .highlight .o {
    color: #000000;
}

.primary .post-thumb .highlight .w {
    color: #bbbbbb;
}